body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    max-width: 1200px;
    margin: 30px auto;
}

a {
    color: black;
    text-decoration: none;
}

.cards {
    display: grid;
    grid-template-columns: 400px 400px 400px;
}

.card {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page404 {
    margin: 30px auto;
    height: 90vh;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.page404 h2 {
    font-size: 50px;
}


.card img {
    max-width: 290px;
}

header {
    margin: 30px auto;
    max-width: 1200px;
}